@import './../../styles/template';

.favourites {
   padding: 40px;
   &__title {
      margin-bottom: 42px;
      button {
         width: 35px;
         height: 35px;
         background: #FFFFFF;
         border: 1px solid #F2F2F2;
         box-sizing: border-box;
         border-radius: 8px;
         margin-right: 20px;
         cursor: pointer;
      }
   }
   .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
      margin-top: 40px;
      @include tablets {
         justify-content: space-between;
         gap: 0;
      }
   }
}